$primary: rgb(204, 204, 204);
$secondary: rgb(6, 182, 212);
$info: rgb(208, 29, 202);
$dark: rgb(21 21 23);
$info: #2d2d2d;
$light: rgb(162, 162, 162);
$success: #202020;
$danger: rgb(54, 0, 108);
$warning: crimson;
$black: green;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";