@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Roboto&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* COLORS */
    --BG-COLOR: linear-gradient(to right, #151517, #232323, #151517);
    --BG-COLOR-FOOTER: #212121;

    --FONT-COLOR: rgb(204, 204, 204);
    --FONT-COLOR-HEADER:
        linear-gradient(to right,
            var(--FONT-COLOR-HEADER-2),
            #e226e2,
            rgb(31, 149, 149),
            rgb(143, 16, 178));
    --FONT-COLOR-HEADER-2: rgb(10, 171, 171);
    --TEXT-SHADOW-HEADER-2: 0.5px 0.5px rgba(110, 21, 110, 0.511);

    --BUTTON-PRIMARY: linear-gradient(180deg, purple, rgb(95, 3, 95));
    --BUTTON-SECONDARY: linear-gradient(180deg, rgb(4, 156, 156), rgb(1, 72, 72));

    --LINK-COLOR: rgba(0, 255, 255, 0.755);
    --LINK-COLOR-HOVER: rgb(0, 242, 255);
    --LINK-COLOR-ACTIVE: rgba(0, 255, 255, 0.602);

    /* --CARD-GRADIENT:
        linear-gradient(315deg,
            #333 2%,
            rgb(62, 13, 62) 5%,
            rgb(62, 13, 62),
            purple 90%,
            rgb(186, 14, 186) 99%); */
    --CARD-GRADIENT: linear-gradient(315deg, #23344e 0%, #202029 74%);

    /* FONT */
    --HEADER-LINK-SIZE: 1.15rem;
}

/* BODY */

body {
    background: var(--BG-COLOR);
    color: var(--FONT-COLOR);
    font-family: 'Nunito Sans', 'Open Sans', 'Roboto', 'sans serif';
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min(6rem, 12vh) 1fr min(4rem, 8vh);

}

/* HEADER */

.header {
    height: min(6rem, 12vh);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: var(--HEADER-LINK-SIZE);
    background-color: var(--BG-COLOR);
    border-bottom: 2px rgb(165, 165, 165) inset;
}

.header__picture {
    margin-left: 0.5vw;
}

.header__picture-img {
    width: min(5rem, 9.5vh);
    height: auto;
    margin: min(0.5rem, 1.25vh) min(0.25rem, 0.75vh);
    border: 0.1rem solid cyan;
    border-radius: 50%;
    padding: 0.1rem;
}

.header__nav {
    position: relative;
    width: 70vw;
}

.header__nav-ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: min(1rem, 10vw);
}

.header__picture-img:hover {
    transform: scale(1.1, 1.1);
}

.header__nav-li {
    padding: min(2rem, 1.5vw);
}

.header__nav-a {
    text-decoration: none;
    color: var(--LINK-COLOR);
}

.header__nav-a:hover,
.header__nav-a:focus {
    color: var(--LINK-COLOR-HOVER);
    border-bottom: inset var(--LINK-COLOR-HOVER) 1.2px;
}

.header__nav-a:active {
    color: var(--LINK-COLOR-ACTIVE);
}

/* MAIN */

/* main layout */
main {
    display: grid;
    width: 98vw;
    margin: min(1rem, 1vh) auto 0 auto;
}

.cv,
.projects {
    grid-template-rows: 4rem;
}

/* main header */
h1 {
    margin-top: min(0.5rem, 1.5vh);
    font-size: 3rem;
    color: var(--FONT-COLOR);
    text-align: center;
    font-weight: normal;
}

.home__h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: min(1.5rem, 1.5vh);
    margin-bottom: min(1rem, 1vh);
}

.books__h2,
.music__h2 {
    color: var(--FONT-COLOR-HEADER-2);
    width: 100%;
    text-align: center;
}

.cv__h1 {
    font-size: 2.5rem;
}

.cv__h2 {
    text-align: center;
    color: var(--FONT-COLOR-HEADER-2);
}

.places__h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: min(0.5rem, 1.5vh);
    color: var(--FONT-COLOR);
    font-weight: normal;
}

.places__h2--visited {
    margin-top: min(2rem, 3vh);
}

.projects__h1 {
    font-size: 2.5rem;
    margin-bottom: min(1rem, 2vh);
}

.contact__h1 {
    font-size: 2.5rem;
}

/* main content */

.home__article {
    display: grid;
    grid-template-rows: min(9.5rem, 30vh) 1fr;
    text-align: center;
    padding: 0 4vw;
    margin-bottom: min(5vh, 3rem);
}

.home__article-picture {
    margin-top: min(2rem, 2vh);
}

.home__article-picture-img {
    width: min(70vw, 200px);
    height: auto;
}

.home__article-content {
    display: grid;
    grid-template-rows: min(2.5rem, 8vh) min(7rem, 25vh);
    padding: 0 2vw;
    margin-bottom: 0;
}

.home__content-link {
    text-decoration: none;
    color: var(--LINK-COLOR);
}

.home__content-link:hover,
.home__content-link:focus {
    color: var(--LINK-COLOR-HOVER);
}

.home__content-link:active {
    color: var(--LINK-COLOR-ACTIVE);
}

/* home books */

.books {
    display: grid;
    grid-template-rows: min(3rem, 9vh) 1fr;
    margin-top: min(2rem, 5vh);
    margin-bottom: min(1rem, 5vh);
}

.books__container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: min(2rem, 2vh);
}

.books__container-figure {
    margin-bottom: min(0.2rem, 3vh);
}

.books__container-figure-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(80vw, 306.7px);
    height: auto;
    padding: 0.1rem;
    border: 2px #151515 solid;
}

.books__container-figure-figcaption {
    text-align: center;
    font-size: 1.3rem;
}

/* home music */

.music {
    display: grid;
    grid-template-rows: min(3rem, 9vh) 1fr;
    margin-top: min(2rem, 5vh);
}

.music__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: min(5vh, 2rem);
    column-gap: min(4vw, 2rem);
    margin-left: auto;
    margin-right: auto;
}

.music__container-figure {
    width: min(300px, 45vw);
    margin-bottom: min(2rem, 4vw);
}

.music__container-figure-img {
    width: min(280px, 40vw);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px black solid;
}

.music__container-figure-figcaption {
    text-align: center;
}

/* cv education */

.education {
    display: grid;
    grid-template-rows: min(3rem, 8vh) 1fr 1fr;
    margin-bottom: min(0.5rem, 2vh);
    margin-top: min(1rem, 2vh);
}

.education__card {
    width: min(400px, 65vw);
    background: var(--CARD-GRADIENT);
    border-radius: 3%;
    text-align: center;
    margin: 0 auto min(1.5rem, 2vh) auto;
    padding-top: min(1rem, 2vh);
    padding-bottom: min(1rem, 2vh);
}

.education__card-picture-img {
    width: min(307px, 50vw);
    height: auto;
    display: block;
    border-radius: 4%;
    margin: min(2rem, 2vh) auto 0.75rem auto;
}

/* cv accomplishments */

.accomplishments {
    display: grid;
    grid-template-rows: min(3rem, 8vh) 1fr 1fr;
    margin-bottom: min(1rem, 2vh);
    margin-top: min(0.5rem, 2vh);
}

.accomplishments__card {
    width: min(400px, 65vw);
    background: var(--CARD-GRADIENT);
    border-radius: 3%;
    text-align: center;
    margin: 0 auto min(1.5rem, 2vh) auto;
    padding-bottom: min(1rem, 2vh);
    padding-top: min(1rem, 2vh);
}

.accomplishments__card-picture-img {
    width: min(307px, 50vw);
    height: auto;
    display: block;
    margin: min(2rem, 2vh) auto 0.75rem auto;
    border-radius: 4%;
}

/* cv skills */

.skills {
    display: grid;
    width: min(90vw, 700px);
    grid-template-rows: min(3rem, 8vh) 1fr;
    margin: 0 auto min(1rem, 2vh) auto;
}

.skills__article {
    display: grid;
    width: min(80vw, 700px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 0.75rem;
    margin: 0 auto min(1.5rem, 2vh) auto;
}

.skills__article-card {
    width: min(160px, 35vw);
    background: var(--CARD-GRADIENT);
    border-radius: 2%;
    text-align: center;
    margin: 0 auto min(1rem, 3vh) auto;
    padding-top: min(1rem, 2vh);
    padding-bottom: min(1rem, 2vh);
}

.skills__article-card:last-child {
    grid-column: 1 / 3;
}

.skills__article-card-picture-img {
    width: min(120px, 29.5vw);
    height: auto;
    display: block;
    margin: 0.25rem auto 1rem auto;
    border-radius: 4%;
}

/* places */

.places__article-h3 {
    font-size: 1.3rem;
    color: var(--FONT-COLOR-HEADER-2);
    text-shadow: var(--TEXT-SHADOW-HEADER-2);
    margin: 0 auto min(0.5rem, 1vh) auto;
    text-align: center;
}

.places__article {
    width: 90vw;
    margin: 0 auto 2.5rem auto;
    display: grid;
}

.places__article-picture-img {
    width: 90vw;
    height: auto;
    display: block;
    border: 2px black solid;
    padding: 0.1rem;
    margin: 0 auto 1.5rem auto;
}

.places__article-aside {
    font-size: 1.2rem;
    width: 80vw;
    text-align: justify;
    margin: 0 auto;
}

.places__article-aside-ul {
    text-align: left;
    margin: 0.2rem 1.3rem;
}

/* projects */

.projects__article {
    width: 90vw;
    margin: 0 auto min(2rem, 5vh) auto;
}

.projects__article-picture-img {
    display: block;
    width: min(325px, 80vw);
    height: auto;
    margin: 0 auto min(1.25rem, 2vh) auto;
}

.projects__article-h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: min(1.25rem, 1vh);
    color: var(--FONT-COLOR-HEADER-2);
    text-shadow: var(--TEXT-SHADOW-HEADER-2);
}

.projects__article-aside-p {
    text-align: center;
    font-size: 1.1rem;
}

.projects__p--final {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin: min(2rem, 3vh) 0;
}

/* contact */

.contact__section {
    width: min(80vw, 25rem);
    margin: 0 auto 3rem auto;
}

.contact__form-div {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contact__form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.contact__form-input,
.contact__form-textarea {
    margin-left: 3rem;
    font-family: inherit;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    width: min(80%, 17rem);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
}

.contact__form-input:focus,
.contact__form-textarea:focus {
    outline: solid 4px rgb(175, 12, 175);
    border-radius: 4px;
}

.buttons {
    width: min(65%, 17rem);
    margin-left: auto;
    display: grid;
    grid-template-columns: 5rem 5rem;
}

.buttons__button {
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.2rem 0.5rem;
    margin-left: auto;
    border: none;
    border-radius: 0.2rem;
    width: 4rem;
}

.buttons__button:active {
    transform: scale(0.95, 0.95);
}

.button--primary {
    background: var(--BUTTON-PRIMARY);
}

.button--secondary {
    background: var(--BUTTON-SECONDARY);
}

.contact__aside {
    width: 80%;
    margin: min(3rem, 5vh) auto;
}

.contact__aside-ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact__aside-ul-img {
    width: min(100px, 15vw);
    height: auto;
    display: block;
    margin: 0 auto;
}

.contact__aside-ul-img:hover,
.contact__aside-ul-img:focus,
.contact__aside-ul-img:active {
    transform: scale(0.9, 0.9);
}

/* horizontal rule */
.hr {
    height: 0rem;
    border: 1.5px silver solid;
    border-radius: 98%;
}

/* FOOTER */

.footer {
    background-color: var(--BG-COLOR-FOOTER);
    font-size: 0.9rem;
    height: min(4rem, 8vh);
    position: relative;
    border-top: 2px solid silver;
}

.footer__p {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer__abbr {
    text-decoration: none;
}

/* Phone Landscape */

@media screen and (min-width: 320px) and (max-width: 950px) and (orientation: landscape) {

    /* body and headers  */
    body {
        grid-template-rows: 15vh 1fr 12vh;
    }

    h1 {
        font-size: 3.5rem;
    }

    .header {
        height: 15vh;
    }

    .header__nav-ul {
        font-size: 1.7rem;
    }

    .header__picture-img {
        width: 12.5vh;
        height: 12.5vh;
    }

    /* home */
    .home__article {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        margin-top: min(1.25rem, 5vh);
    }

    .home__article-h2 {
        font-size: 2rem;
    }

    .home__article-p {
        margin-top: min(1rem, 2.5vh);
        font-size: 1.25rem;
    }

    .home__article-content {
        padding-top: 10px;
    }

    .home__interests {
        grid-template-columns: 1fr 1.5fr;
        margin-bottom: min(2rem, 7vh);
    }

    .home__interests-article-picture {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .home__interests-article-content {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }

    .books__h2,
    .music__h2 {
        font-size: 2.5rem;
    }

    .books__container-figure-figcaption,
    .music__container-figure-figcaption {
        font-size: 1.5rem;
    }

    .books__container {
        width: min(100%, 700px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: min(4vh, 1.5rem);
        column-gap: 0;
        margin: 2rem auto 1rem auto;
    }

    .books__container-figure {
        margin-left: auto;
        margin-right: auto;
    }

    .music__container {
        margin-top: 2rem;
    }

    /* cv */
    .cv__h1 {
        font-size: 3.5rem;
    }

    .cv__h2 {
        font-size: 2rem;
    }

    .education,
    .accomplishments {
        grid-template-rows: 4rem 1fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }

    .education__card,
    .accomplishments__card {
        width: min(500px, 80vw);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 1rem;
    }

    .accomplishments__card {
        grid-template-rows: 1fr;
    }

    .education__card-picture-img,
    .accomplishments__card-picture-img {
        width: min(187.5px, 30vw);

    }

    .education__card-picture,
    .accomplishments__card-picture {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    .education__card-h3,
    .accomplishments__card-h3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: min(5vw, 5rem) 1.25rem 0 1.25rem;
        font-size: 1.4rem;
    }

    .accomplishments__card-h3 {
        margin: 4rem 0.3rem;
    }

    .education__card-p {
        margin: 0.2rem 1rem 0 1rem;
        grid-column: 2 / 3;
        grid-row: 2/ 3;
    }

    .skills {
        display: grid;
        column-gap: 5vw;
    }

    .skills__article {
        width: 100%;
    }

    .skills__article-card {
        display: flex;
        width: min(300px, 40vw);
    }

    .skills__article-card:last-child {
        grid-column: 1 / 2;
    }

    .skills__article-card-picture-img {
        width: min(210px, 15vw);
        margin: 0.5rem auto 0.5rem 0.5rem;
        border-radius: 4%;
    }

    .skills__article-h3 {
        width: 100%;
        margin: 1rem 0.5rem;
        text-align: center;
    }

    /* projects */
    .projects {
        grid-template-rows: 5.25rem;
    }

    .projects__h1 {
        font-size: 3.5rem;
    }

    .projects__article {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto 2rem auto;
    }

    .projects__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .projects__article-picture-img {
        width: min(30vw, 300px);
        margin-left: min(2vw, 1.5rem);
        margin-right: min(4vw, 2rem);
    }

    .projects__article aside {
        position: relative;
    }

    .projects__article-aside-p {
        width: min(50vw, 600px);
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .projects__p--final {
        margin: 1.5rem 0;
    }

    /* places */
    .places {
        margin: 0;
    }

    .places__h2 {
        font-size: 3.5rem;
    }

    .places__article {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .places__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .places__article-picture {
        width: 30vw;
    }

    .places__article-picture-img {
        width: 30vw;
        margin-left: min(1rem, 2vw);
        margin-top: 10%;
    }

    .places__article-aside {
        width: 60vw;
    }

    .places__article:last-child .places__article-picture-img {
        margin-top: 0;
    }

    /* contact */
    .contact__hr {
        display: none;
    }

    .contact__h1 {
        font-size: 3rem;
    }

    .contact {
        display: flex;
    }

    .contact__section {
        width: 60vw;
    }

    .contact__aside {
        width: 12vw;
        margin-top: 10rem;
    }

    .contact__aside-ul {
        display: flex;
        flex-flow: column nowrap;
        gap: min(5vw, 3rem);
    }

    .contact__aside-ul-img {
        width: min(70px, 10.5rem);
    }

    .contact__form {
        margin-left: 3rem;
    }

    .contact__form-input,
    .contact__form-textarea {
        width: min(80%, 27rem);
    }

    .footer {
        font-size: 1.2rem;
        height: 12vh;
    }
}

/* Tablets and small laptops */

@media screen and (min-width: 951px) and (max-width: 1279px) {

    /* body and headers */
    body {
        grid-template-rows: 12vh 1fr 8vh;
    }

    h1 {
        font-size: 4rem;
    }

    .header {
        height: 12vh;
    }

    .header__picture-img {
        width: 10.5vh;
        height: 10.5vh;
        margin: 0.75vh 0.5rem;
    }

    .header__nav-ul {
        font-size: 1.7rem;
    }

    /* home */
    .home__article {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        margin-top: min(1.25rem, 5vh);
    }

    .home__article-h2 {
        font-size: 2.5rem;
    }

    .home__article-p {
        margin-top: min(1rem, 2.5vh);
        font-size: 1.5rem;
    }

    .home__article-content {
        padding-top: 30px;
    }

    .home__interests {
        grid-template-columns: 1fr 1.5fr;
        margin-bottom: min(2rem, 7vh);
    }

    .home__interests-article-picture {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .home__interests-article-content {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }

    .books__h2,
    .music__h2 {
        font-size: 3rem;
    }

    .books__container-figure-figcaption,
    .music__container-figure-figcaption {
        font-size: 1.7rem;
    }

    .books__container {
        width: min(80vw, 1150px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 0;
        margin: 2rem auto 1rem auto;
    }

    .books__container-figure {
        margin: 0 auto 2.5rem auto;
    }

    .books__container-figure-img {
        width: 35vw;
        height: 51vw;
    }

    .music__container {
        margin-top: 2rem;
        width: min(80vw, 950px);
        column-gap: 0;
        row-gap: 0;
    }

    .music__container-figure {
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }

    .music__container-figure-img {
        width: 35vw;
    }

    /* cv */
    .cv {
        grid-template-rows: 6.5rem;
    }

    .cv__h1 {
        font-size: 4rem;
    }

    .education,
    .accomplishments {
        grid-template-rows: 4rem 1fr;
        grid-template-columns: 1fr 1fr;
        width: min(70vw, 1050px);
        margin-left: auto;
        margin-right: auto;
    }

    .education__card,
    .accomplishments__card {
        width: min(500px, 30vw);
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
    }

    .education__card-picture-img,
    .accomplishments__card-picture-img {
        width: 22.5vw;
    }

    .education__card-h3,
    .accomplishments__card-h3 {
        margin: 0.2rem 1.25rem 0 1.25rem;
        font-size: 1.7rem;
    }

    .accomplishments__card-h3 {
        margin: 1rem 0.3rem;
    }

    .education__card-p {
        margin: 0.2rem 1rem 0 1rem;
    }

    .skills {
        display: grid;
        grid-template-rows: 3rem 1fr;
        column-gap: 5vw;
        width: 80vw;
    }

    .skills .cv__h2 {
        grid-column: 1/2;
    }

    .skills__article {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.05rem;
    }

    .skills__article-card {
        display: flex;
        width: min(450px, 35vw);
    }

    .skills__article-card:last-child {
        grid-column: 1 / 3;
    }

    .skills__article-card-picture-img {
        width: min(210px, 12.5vw);
        margin: 0.5rem 0 0.5rem 1.25rem;
        border-radius: 4%;
    }

    .skills__article-h3 {
        width: 100%;
        margin: 1.75rem 0.5rem;
        text-align: center;
    }

    .cv__h2 {
        font-size: 2.5rem;
        grid-column: 1 / 3;
    }

    /* projects */
    .projects {
        grid-template-rows: 6.5rem;
    }

    .projects__h1 {
        font-size: 4rem;
    }

    .projects__article {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto 2rem auto;
    }

    .projects__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .projects__article-picture-img {
        width: min(30vw, 300px);
        margin-left: min(2vw, 1.5rem);
        margin-right: min(4vw, 2rem);
    }

    .projects__article aside {
        position: relative;
    }

    .projects__article-aside-p {
        width: min(50vw, 600px);
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .projects__p--final {
        margin: 1.5rem 0;
    }

    /* places */
    .places {
        margin: 0;
    }

    .places__h2 {
        font-size: 3.5rem;
    }

    .places__article {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .places__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .places__article-picture {
        width: 44vw;
    }

    .places__article-picture-img {
        width: 44vw;
        margin-left: min(1rem, 2vw);
        margin-top: 1.5rem;
    }

    .places__article-aside {
        width: 42.5vw;
        margin-top: 0.5rem;
        font-size: 1.4rem;
    }

    .places__article:last-child .places__article-aside {
        margin-top: 2rem;
    }

    /* contact */
    .contact__hr {
        display: none;
    }

    .contact {
        display: flex;
        width: min(80vw, 800px);
    }

    .contact__h1 {
        font-size: 3.5rem;
    }

    .contact__section {
        width: 60vw;
    }

    .contact__aside {
        width: 12vw;
        margin-top: 10rem;
    }

    .contact__aside-ul {
        display: flex;
        flex-flow: column nowrap;
        gap: min(5vw, 3rem);
    }

    .contact__aside-ul-img {
        width: min(70px, 10.5rem);
    }

    .contact__form {
        margin-left: 3rem;
    }

    .contact__form-input,
    .contact__form-textarea {
        width: min(80%, 25rem);
    }

    .contact__form-label {
        font-size: 1.6rem;
        font-weight: normal;
    }

    .contact__form-input,
    .contact__form-textarea {
        width: min(80%, 27rem);
        font-size: 1.5rem;
    }

    .contact__form-input {
        height: 3rem;
    }

    .contact__form-textarea {
        height: 18.5rem;
    }

    .buttons {
        width: min(65%, 20rem);
        display: flex;
        margin-right: 20%;
    }

    .buttons__button {
        font-size: 2rem;
        font-weight: 550;
        padding: 0.3rem 0.1rem;
        width: 7rem;
    }

    .contact__aside-ul-img {
        width: min(100px, 15vw);
    }

    .footer {
        font-size: 1.3rem;
        height: 8vh;
    }
}

/* Laptops and Desktops*/

@media screen and (min-width: 1279px) {

    /* body and headers */
    body {
        grid-template-rows: 10vh 1fr 8vh;
    }

    h1 {
        font-size: 5.5rem;
    }

    .header {
        height: 10vh;
    }

    .header__picture-img {
        width: 8.5vh;
        height: 8.5vh;
        margin: 0.5vh 0.5rem;
    }

    .header__nav-ul {
        font-size: 1.7rem;
    }

    /* home */
    .home__article {
        width: min(90vw, 1900px);
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        margin: min(1.25rem, 5vh) auto min(4rem, 5vh) auto;
    }

    .home__article-content {
        grid-template-rows: 5rem;
    }

    .home__article-h2 {
        font-size: 2.5rem;
    }

    .home__article-p {
        margin-top: 0;
        font-size: 1.8rem;
    }

    .home__article-content {
        padding-top: 30px;
    }

    .home__interests {
        grid-template-columns: 1fr 2fr;
        margin-bottom: min(4rem, 7vh);
    }

    .home__interests-article-picture {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
    }

    .home__interests-article-content {
        grid-column: 2 / 3;
        grid-row: 1 / 1;
    }

    .home__article-picture-img {
        width: min(70vw, 350px);
    }

    .books__h2,
    .music__h2 {
        font-size: 3rem;
    }

    .books__container-figure-figcaption,
    .music__container-figure-figcaption {
        font-size: 2.2rem;
    }

    .books__container {
        width: min(80vw, 1000px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 0;
        margin: 4rem auto 1rem auto;
    }

    .books__container-figure {
        margin: 0 auto 2.5rem auto;
    }

    .books__container-figure-img {
        width: min(33vw, 400px);
        height: min(47vw, 600px);
    }

    .music__container {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        width: min(60vw, 1467.2px);
        column-gap: 0;
        row-gap: 0;
    }

    .music__container-figure {
        width: min(25vw, 524px);
        margin-left: auto;
        margin-right: auto;
    }

    .music__container-figure-img {
        width: min(25vw, 524px);
    }

    /* cv */
    .cv {
        grid-template-rows: 5rem;
    }

    .cv__h1 {
        font-size: 4rem;
    }

    .education,
    .accomplishments {
        grid-template-rows: 4rem 1fr;
        grid-template-columns: 1fr 1fr;
        width: min(60vw, 1350px);
        margin-left: auto;
        margin-right: auto;
    }

    .education__card,
    .accomplishments__card {
        width: min(600px, 25vw);
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
    }

    .education__card-picture-img,
    .accomplishments__card-picture-img {
        width: min(20vw, 490px);
    }

    .education__card-h3,
    .accomplishments__card-h3 {
        margin: 0.2rem 1.25rem 0 1.25rem;
        font-size: 2.25rem;
    }

    .accomplishments__card-h3 {
        margin: 1rem 0.3rem;
    }

    .education__card-p {
        margin: 0.2rem 1rem 0 1rem;
        font-size: 1.6rem;
    }

    .skills {
        display: grid;
        grid-template-rows: 3rem 1fr;
        column-gap: min(10vw, 150px);
        width: min(90vw, 2900px);
    }

    .skills .cv__h2 {
        grid-column: 1/2;
    }

    .skills__article {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5rem;
    }

    .skills__article-card {
        display: flex;
        width: min(600px, 35vw);
        margin-bottom: 2rem;
    }

    .skills__article-card:last-child {
        grid-column: 1 / 2;
    }

    .skills__article-card-picture-img {
        width: min(187.5px, 12.5vw);
        margin: 0.5rem 0 0.5rem 1.25rem;
        border-radius: 4%;
    }

    .skills__article-h3 {
        width: 100%;
        margin: 2rem 0.5rem;
        text-align: center;
    }

    .cv__h2 {
        font-size: 2.5rem;
        grid-column: 1 / 3;
    }

    /* projects */
    .projects {
        display: flex;
        flex-flow: row wrap;
        width: min(90vw, 1800px);
    }

    .projects__h1 {
        width: 100%;
        font-size: 4rem;
    }

    .projects__article {
        width: min(42.5vw, 850px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 2.5rem auto;
    }

    .projects__article:nth-child(2) {
        margin-right: 2rem;
    }

    .projects__article:nth-child(3) {
        border-left: solid silver 2px;
    }

    .projects__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2.1rem;
    }

    .projects__article-picture-img {
        width: min(17.5vw, 350px);
        margin-left: min(2vw, 1.5rem);
        margin-right: min(4vw, 2rem);
    }

    .projects__article aside {
        position: relative;
    }

    .projects__article-aside-p {
        width: min(22.5vw, 450px);
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .projects__article:nth-child(3) .projects__article-aside-p {
        transform: translateY(-80%);
    }

    .projects__hr {
        width: 100%;
    }

    .projects__p--final {
        width: 100%;
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }

    /* places */
    .places {
        margin: 0;
    }

    .places__h2 {
        font-size: 3.5rem;
    }

    .places__article {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    .places__article-h3 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 2.25rem;
    }

    .places__article-picture {
        width: 60vw;
    }

    .places__article-picture-img {
        width: 60vw;
        margin-left: min(4rem, 2vw);
        margin-top: 1.5rem;
    }

    .places__article-aside {
        width: 33vw;
        margin-top: 2.5%;
        margin-left: 5%;
        font-size: 1.6rem;
    }

    .places__article-aside-ul {
        margin-left: 3rem;
    }

    .places__article:nth-child(3) .places__article-aside {
        margin-top: 5%;
    }

    .places__article:nth-child(4) .places__article-aside {
        margin-top: 3%;
    }

    .places__article:nth-child(7) .places__article-aside {
        margin-top: 2.5%;
    }

    .places__article:last-child .places__article-aside {
        margin-top: 7.5%;
    }

    /* contact */
    .contact__hr {
        display: none;
    }

    .contact__h1 {
        font-size: 4rem;
    }

    .contact {
        display: flex;
        width: min(80vw, 800px);
    }

    .contact__section {
        width: 60vw;
    }

    .contact__aside {
        width: 12vw;
        margin-top: 10rem;
    }

    .contact__aside-ul {
        display: flex;
        flex-flow: column nowrap;
        gap: min(5vw, 3rem);
    }

    .contact__aside-ul-img {
        width: min(70px, 10.5rem);
    }

    .contact__form {
        margin-left: 3rem;
    }

    .contact__form-label {
        font-size: 1.8rem;
        font-weight: normal;
    }

    .contact__form-input,
    .contact__form-textarea {
        width: min(80%, 27rem);
        font-size: 1.6rem;
    }

    .contact__form-input {
        height: 3.2rem;
    }

    .contact__form-textarea {
        height: 20rem;
    }

    .buttons {
        width: min(65%, 20rem);
        display: flex;
        margin-right: 20%;
    }

    .buttons__button {
        font-size: 2rem;
        font-weight: 550;
        padding: 0.2rem 0.4rem;
        margin-left: auto;
        width: 7.5rem;
    }

    .contact__aside-ul-img {
        width: min(100px, 15vw);
    }

    .footer {
        font-size: 1.2rem;
        height: 8vh;
    }

    /* Full HP Monitors and Large Screens */
    @media screen and (min-width: 1600px) {

        /* home */
        .home__article-p {
            margin-top: 0.5rem;
            font-size: 2rem;
        }

        .home__article-content {
            padding-top: 3rem;
        }

        .home__interests {
            margin-bottom: min(4rem, 10vh);
        }

        .home__article-picture-img {
            width: min(70vw, 400px);
        }

        .books__container {
            margin: 4.5rem auto 1rem auto;
        }

        .music__container {
            margin-top: 5.5rem;
        }

        /* cv */
        .education,
        .accomplishments {
            grid-template-rows: 5.5rem 1fr;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 1.5rem;
        }

        .education__card-h3,
        .accomplishments__card-h3 {
            font-size: 2.5rem;
        }

        .education__card-p {
            font-size: 1.8rem;
        }

        .skills__article {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        .skills__article {
            font-size: 1.8rem;
        }

        .skills__article-h3 {
            margin: 2rem 0.5rem;
        }

        .cv__h2 {
            width: 100%;
            text-align: center;
        }

        /* projects */
        .projects__article {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto 4.5rem auto;
        }

        .projects__hr {
            border-width: 0.05rem;
        }

        .projects__p--final {
            font-size: 2rem;
            margin: 2rem 0;
        }

        /* places */
        .places__article-picture {
            width: min(60vw, 1500px);
        }

        .places__article-picture-img {
            width: min(60vw, 1500px);
            margin-left: min(5rem, 2vw);
        }

        .places__article-aside {
            width: min(33vw, 825px);
            margin-top: 4%;
            font-size: 1.8rem;
        }

        .places__article:nth-child(3) .places__article-aside {
            margin-top: 5%;
        }

        .places__article:nth-child(4) .places__article-aside {
            margin-top: 3%;
        }

        .places__article:nth-child(7) .places__article-aside {
            margin-top: 2.5%;
        }

        .places__article:last-child .places__article-aside {
            margin-top: 8.5%;
        }
    }
}